$brand_first: #494949;
$brand_second: #AAAAAA;
$brand_third: #427ED1;
$brand_fourth: #F5F5F5;
$brand_fifth: #55CCE5;

ul {
    list-style: none;
}

h3 {
    font-size: 35px;
}

.border {
    width: 300px;
    height: 1px;
    background-color: $brand_first;
}

h5 {
    font-size: 14px;
    color: $brand_second;
    text-align: center;
}

.my-star {
    color: $brand_third;
}